bin/
swiftcloud.jar
org.eclipse.jdt.internal.junit.runner.RemoteTestRunner@*stats.xml
planetlab-key*
swiftcloud.pub
swiftcloud.pem
/swiftsocial-test.props
/stuff
/results
/kryoDB-data.db
/kryoDB-seq.db
/.settings
/.gitignore
statistics*
teste/

